<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login Form</title>
    {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"> #}
    {{ bootstrap.load_css() }}
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .card {
            max-width: 400px;
            padding: 30px;
            border: 1px solid #8ea3f0;
            border-radius: 5px;
        }

        .card-header {
            text-align: center;
            background-color: transparent; /* 设置背景为透明 */
        }
    </style>
</head>
<body>
    <div class="card">
        <div class="card-header">
            <h1>{{ text }}</h1>
        </div>
        <div class="card-body">
            <form method="post">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.username.label }}
                    {{ form.username(class="form-control") }}
                    {% if form.username.errors %}
                        {% for message in form.username.errors %}
                            <small class="text-danger">{{ message }}</small>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label }}
                    {{ form.password(class="form-control") }}
                    {% if form.password.errors %}
                        {% for message in form.password.errors %}
                            <small class="text-danger">{{ message }}</small>
                        {% endfor %}
                    {% endif %}
                </div>
                {# <div class="form-group">
                    <div class="form-check">
                        {{ form.remember(class="form-check-input") }}
                        {{ form.remember.label(class="form-check-label") }}
                    </div>
                </div> #}
                <button type="submit" class="btn btn-primary btn-block mt-3">Sign In</button>
            </form>
        </div>
    </div>
    {# <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> #}
    {# <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script> #}
    {{ bootstrap.load_js() }}
</body>
</html>
